<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skynet.psitech">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:name="com.skynet.psitech.application.AppController"
        android:largeHeap="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:targetApi="m"
        tools:ignore="GoogleAppIndexingWarning">
        <uses-library android:name="org.apache.http.legacy"
            android:required="false"/>
        <activity android:name="com.skynet.psitech.ui.main.MainActivity"         android:theme="@style/AppTheme.NoActionBar"
            >

        </activity>
        <activity android:name="com.skynet.psitech.ui.splash.SplashActivity"
            android:theme="@style/AppThemeAuth.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.skynet.psitech.ui.privacy.TermActivity" />
        <activity android:name="com.skynet.psitech.ui.privacy.PrivacyActivity" />
        <!--<provider-->
            <!--android:name="com.skynet.psitech.ui.views.GenericFileProvider"-->
            <!--android:authorities="com.skynet.psitech.provider"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true">-->
            <!--<meta-data-->
                <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
                <!--android:resource="@xml/provider_paths"/>-->
        <!--</provider>-->

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="com.skynet.psitech.ui.DetailNews.DetailNotificationActivity" />
        <activity android:name="com.skynet.psitech.ui.base.ActivityNetwork" />

        <activity android:name="com.skynet.psitech.ui.profile.ProfileActivity"  />
        <activity android:name="com.skynet.psitech.ui.auth.AuthActivity" android:theme="@style/AppThemeAuth2.NoActionBar"/>
        <activity android:name="com.skynet.psitech.ui.auth.login.LoginActivity"   android:theme="@style/AppThemeAuth.NoActionBar"/>
        <activity android:name="com.skynet.psitech.ui.auth.signup.ActivitySignUp"  android:theme="@style/AppThemeAuth.NoActionBar"/>
        <activity android:name="com.skynet.psitech.ui.auth.verifyaccount.VerifyAccountActivity"  android:theme="@style/AppThemeAuth.NoActionBar"/>
        <activity android:name="com.skynet.psitech.ui.auth.updateProfile.ActivityProfileUpdate"  android:theme="@style/AppThemeAuth.NoActionBar"/>
        <activity android:name="com.skynet.psitech.ui.auth.updateProfile.SearchMapAdressActivity"  android:theme="@style/AppThemeAuth.NoActionBar"/>
        <activity android:name="com.skynet.psitech.ui.auth.forgotPassword.ForgotPwActivity"  android:theme="@style/AppThemeAuth.NoActionBar"/>
        <activity android:name="com.skynet.psitech.ui.detailshop.DetailShopActivity" android:theme="@style/AppThemeAuth.NoActionBar"/>
        <activity android:name="com.skynet.psitech.ui.detailProduct.ActivityDetailProduct"  android:theme="@style/AppThemeAuth.NoActionBar"/>
        <activity android:name="com.skynet.psitech.ui.cart.CartActivity" />
        <activity android:name="com.skynet.psitech.ui.checkout.CheckoutActivity" android:theme="@style/AppThemeAuth.NoActionBar.Chat"/>
        <activity android:name="com.skynet.psitech.ui.choosepayment.ChoosepaymetnActivity" />
        <activity android:name="com.skynet.psitech.ui.enterpin.EnterpinActivity" android:theme="@style/AppThemeAuth.NoActionBar" />
        <activity android:name="com.skynet.psitech.ui.listProduct.ListProductActivity" />
        <activity android:name="com.skynet.psitech.ui.schedule.ListHistoryActivity" />
        <activity android:name="com.skynet.psitech.ui.detailhistory.HistoryDetailActivity" />
        <activity android:name="com.skynet.psitech.ui.chatting.ChatActivity" />
        <activity android:name="com.skynet.psitech.ui.listchat.ListChatActivity" />
        <activity android:name="com.skynet.psitech.ui.category.listProduct.ListProductActivity" />
        <activity android:name="com.skynet.psitech.ui.scanqr.ScannerQr" />
        <activity android:name="com.skynet.psitech.ui.contact.ContactUsActivity" />
        <activity android:name="com.skynet.psitech.ui.shop.NearbyActivity" />
        <activity android:name="com.skynet.psitech.ui.home.ActivityDetailNews" />
        <activity android:name="com.skynet.psitech.ui.search.ActivitySearch" />
        <activity android:name="com.skynet.psitech.ui.news.NotificationActivity" />
        <activity android:name="com.skynet.psitech.ui.location.LocationActivity" />
        <activity android:name="com.skynet.psitech.ui.Notification.NotificationActivity" />
        <activity android:name="com.skynet.psitech.ui.detailNotification.DetailNotificationActivity" />
        <activity android:name="com.skynet.psitech.ui.booking.BookingActivity" />
        <activity android:name="com.skynet.psitech.ui.promotion.PromotionActivity" />
        <activity android:name="com.skynet.psitech.ui.payment.PaymentActivity" />
        <activity android:name="com.skynet.psitech.ui.connect.ConnectActivity" />
        <activity android:name="com.skynet.psitech.ui.history.ListHistoryActivity" />
        <activity android:name="com.skynet.psitech.ui.detailBooking.ActivityBookingDetail" />
        <activity android:name="com.skynet.psitech.ui.feedback.FeedbackActivity" />
        <activity android:name=".ui.reporting.ReportingActivity" />
        <activity android:name=".ui.listfeedback.ListFeedbackActivity" />
        <activity android:name=".ui.detailfeedback.DetailFeedbackActivity" />
        <activity android:name=".ui.viewphoto.ViewPhotoActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fe40cc6e6a158e06d023033afbe8f0e5233f76c4" />



        <service android:name="com.skynet.psitech.network.socket.SocketClient">
            <intent-filter>
                <action android:name="socket" />
            </intent-filter>
        </service>

        <receiver android:name="com.skynet.psitech.network.socket.RestartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="chayngamT.restart" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.skynet.psitech.network.socket.InternetReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.skynet.psitech.network.socket.AlarmReceiver"
            android:enabled="true"
            android:process=":remote" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC6UK-tU6goZGcsBOSEjILk7f-LWegrbxY" />
        <service
            android:name="com.skynet.psitech.ui.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.skynet.psitech.ui.FcmInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>